@charset "utf-8";
/* @import url('./styleChecker.css'); */

html {
  height: 100%;
}
body {
  max-width: 720px;
  height: 100vh;
  height: 100dvh;
  margin: auto;

  background-color: darkslategray;
  color: #353535;
}

#wrap {
  height: 100%;
  display: flex;
  margin: 0 1rem;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

#myCanvas {
  margin: 1rem;
}
